* {
  box-sizing: border-box;
}

body {
	/*background-color:#333;*/
	color: #777777;
	/*background-color:#ffffff;*/
	background-image:url("../images/background.png");
}
header {
	/*padding: 20px;*/	
	margin-bottom: 20px;
	color: #ffffff;
  	border-bottom: solid 2px #cccccc;
  	background: #ffffff;
	display:block;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:75px;
	z-index: 3200;

}


footer {
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
	clear:both;
	width:100%;
	background:#666666;
	padding: 20px;
	margin-top: 60px;
	height:80px;
	color:#333;
	border-top: solid 2px #cccccc;
	z-index:3200;
}

h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
	color:#ffffff;
}

h2 {
	color:#4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;

}

a:link, a:visited, a:hover, a:active  {
	text-decoration:none;
	color:#666;
}

#logo {
	/*display:inline-block;*/
	position:absolute;
	left:75px;
	top:0px;
	text-align: center;
	
	height:75px;
	width:255px;
	
	background:#4aaaa5;
	white-space:nowrap;

}

#nav-links {
	float:right;
	width:33%;
	font-size:20px;
}

#full {
	clear:both;
	width:100%;
}


#left-block {
	/*Box Structure*/
	position:relative;
	top:50px;
	
	display:inline-block;
	/*float:left;*/
	
	max-width:700px;
	min-height:500px;
	
	padding:20px;
	margin: 20px;

	background:#ffffff;
	
	color:#666;
	
	box-shadow: 10px 10px 5px #888888;
}

#right-block {

	display:inline-block;
	position:relative;
	/*top:50px;*/
	
	max-width:200px;
	padding:20px;
	margin:30px;
	
	background:#ffffff;
	
	color:#666;
	text-align:center;

	box-shadow: 10px 10px 5px #888888;
	
}
.bio-image {
	display:inline-block;
	/*float:left;*/
}

.icon {	
	display:inline-block;

	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	
	width: 65px;
	height: 65px;
}

.project {
	position: relative;
	float:left;
	margin: 10px;
}

.project-banner {
	position:absolute;
	display:inline-block;
	z-index: 3000;
	left: 0px;
	bottom: 20px;
	background:#4aaaa5;
	
	white-space:nowrap;
	text-align: center;


	color: #ffffff;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.project-name {
	height: 20px;
	width: 250px;
	line-height: 20px;
	text-align: center;
}
#contact {}

#contact-submit {
	background:#4aaaa5;
	height:25px;
	width:60px;
	text-align:center;
}

@media only screen and (max-width: 768px) {

#left-block {
	/*Box Structure*/
	/*position:relative;
	top:50px;
	*/
	display:block;
	/*float:left;*/
	
	max-width:768px;
	width:80%;	

	margin-bottom:40px;
	margin:0 auto;

	
	padding:20px;
	/*margin: 20px;*/	
}

#right-block {
	display:block;
	/*position:absolute;*/
	/*top:50px;*/
	
	width:80%;
	max-width:768px;
	margin:0 auto;

	padding:20px;
	/*margin:30px;*/
}
}

@media only screen and (max-width: 640px) {
   #left-block {
	/*Box Structure*/
	/*position:relative;
	top:50px;
	*/
	top:150px;
	display:block;
	/*float:left;*/
	
	max-width:640px;
	width:80%;	

	margin-bottom:40px;
	margin:0 auto;

	
	padding:20px;
	/*margin: 20px;*/	
	}

	#right-block {
		display:block;
		/*position:absolute;*/
		/*top:50px;*/
		
		width:80%;
		max-width:640px;
		margin:0 auto;

		padding:20px;
		/*margin:30px;*/
	}

	#logo {
		/*display:inline-block;*/
		clear:both;
		position:absolute;
		left:0px;
		top:0px;
		text-align: center;
		
		height:75px;
		width:100%;
		
		background:#4aaaa5;
		white-space:nowrap;

	}

	#nav-links {
		clear:both;
		display:block;
		position:relative;
		top:75px;
		width:100%;
		font-size:16px;
		background:#ffffff;
		text-align:center;

	}
}
