* {
  box-sizing: border-box;
}

body {
	/*background-color:#333;*/
	color: #777777;
	/*background-color:#ffffff;*/
	background-image:url("../images/background.png");
}
header {
	/*padding: 20px;*/	
	margin-bottom: 20px;
	color: #ffffff;
  	border-bottom: solid 2px #cccccc;
  	background: #ffffff;
	display:block;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:75px;
	z-index: 3200;

}

footer {
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;
	clear:both;
	width:100%;
	background:#666666;
	padding: 20px;
	margin-top: 60px;
	height:80px;
	color:#333;
	border-top: solid 2px #cccccc;
	z-index:3200;
}

h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	/*float:left;*/
	/*position:relative;*/
	/*left:10px;*/
	text-align: center;
	/*width:33%;*/
	color:#ffffff;
}

h2 {
	color:#4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;

}

a:link, a:visited, a:hover, a:active  {
	text-decoration:none;
	color:#666;
}

#logo {
	display:inline-block;
	position:relative;
	left:75px;
	text-align: center;

	height:75px;
	width:255px;

	background:#4aaaa5;
	white-space:nowrap;

}

#links {
	float:right;
	width:33%;
	font-size:20px;
}

#full {
	clear:both;
}


#left-block {
	/*Box Structure*/
	position:relative;
	top:50px;
	
	display:inline-block;
	float:left;
	
	width:50%;
	min-height:500px;
	
	/*border: solid 10px green;*/
	padding:2%;
	margin: 5%;

	background:#ffffff;
	
	color:#666;
	
	box-shadow: 10px 10px 5px #888888;
}
.project {
	position: relative;
	float:left;
	margin: 10px;
}

.banner {
	position:absolute;
	display:inline-block;
	z-index: 3000;
	height: 40px;
	width: 250px;

	left:0px;
	bottom: 20px;
	
	background:#4aaaa5;
	white-space:nowrap;
	text-align: center;
	overflow:hidden;

	color: #ffffff;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#contact {}

#contact-submit {
	background:#4aaaa5;
	height:25px;
	width:60px;
	text-align:center;
}
#right-block {
	/*border: solid 10px red;*/
	display:inline-block;
	position:relative;
	top:50px;
	
	/*	width:30%;*/
	padding:2%;
	margin:5%;
	
	background:#ffffff;
	
	color:#666;
	text-align:center;

	box-shadow: 10px 10px 5px #888888;
	
}

.icon {	
	display:inline-block;

	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	
	width: 75px;
	height: 75px;
}
